# Ignore virtual environment
.venv

# Ignore contents of Data folder and subfolders, but keep the folder structure
/Data/*
!/Data/.gitkeep
!/Data/*/
/Data/*/*
!/Data/csv/analyzed_files.csv
!/Data/*/.gitkeep